<h1>The last name you entered was "<%= name %>"!</h1>
<h2>Name list</h2>
<ul>
  <% @names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>
<p>Click here to enter a new name</p>
<input type="submit" value="New name" onclick="window.location='/name_form';" />